<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments :: header"></th:block>
</head>
<body>

<nav th:replace="fragments :: navbar"></nav>

<div class="container border p-3 my-5">
    <h3 class="mt-3 text-center" th:text="${post.title}"></h3>
    <div class="my-3" th:text="${post.text}"></div>

    <h5 class="my-2" th:if="${post.comments.size > 0}">Komentarze:</h5>

    <div class="my-3" th:each="comment: ${post.comments}">
        <div class="border p-1">
            <span th:text="${comment.author.userName}"></span>
            <span class="float-right" th:text="${#temporals.format(comment.createdAt,'yyyy-MM-dd HH:mm')}"></span>
        </div>
        <div class="border p-2" th:text="${comment.text}">
        </div>
    </div>

    <div sec:authorize="isAnonymous()">
        <h5 class="my-2"><a th:href="@{/login}">Zaloguj się</a> aby dodać komentarz</h5>
    </div>

    <div sec:authorize="isAuthenticated()">
        <h5 class="my-2">Dodaj Komentarz:</h5>

        <form method="post" th:action="@{|/post/${post.id}/comment/add|}" th:object="${comment}">
            <div class="form-group">
                <input class="form-control" placeholder="Skomentuj..." th:field="*{text}" type="text">
            </div>
            <input class="btn btn-primary" type="submit" value="Dodaj komentarz">
        </form>
    </div>
</div>

<div th:replace="fragments :: scripts"></div>
</body>
</html>